<div>
  <div>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Posted by: {{post.user.username}} on {{format_date post.date_created}}</p>
    <h5>Comments</h5>
</div>

    {{#if comments.length}}

      {{#each comments as |comment|}}
      <div class="border-bottom row">
        <div class="col-md-11">
          <p>{{comment.content}}</p>
          <p>Posted by: {{comment.user_id}}</p>
        </div>
        <div class="col-md-1">
          <p>{{format_date comment.date_created}}</p>
        </div>
      </div>
      <br>
      {{/each}}
    </div>
    {{/if}}
  

  {{#if loggedIn}}

  <form class="comment-form">

    <div class="form-group shadow-textarea">
      <label for="exampleFormControlTextarea6">
        <h5>Leave a comment!</h5>
      </label>
      <textarea class="form-control z-depth-1" id="Textarea6" rows="3" placeholder="Write comment here..."></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="submit-comment" data-post_id="{{post.id}}">Post</button>
    </div>

  </form>
  {{else}}
  <p> Please <a href="/login">login/sign-up</a> to leave a comment!</p>
  {{/if}}
</div>

<script src="/js/comment.js"></script>

